body{
	font-family: 'Montserrat', sans-serif;
}

.navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 40px;
	background-color: #FFFFFF;
	position: sticky;
	top: 0;
	z-index: 10;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.navleft{
	display: flex;
	align-items: center;
	gap: 100px;
}

.navleft ul{
	display: flex;
	list-style: none;
	gap: 150px;
	margin: 0;
	padding:0;
	
}

.navbar li{
	color: #013450;
	font-weight: bold;
	cursor: pointer;
	transition: color 0.3s ease;
}

.navbar li:hover{
	color: #006CA5;
}

#circleicon{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #006CA5;
}

#rectanglead{
	width: 150px;
	height: 50px;
	background-color: #E7E7E7;
}


h1{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
	color: #006ca5;
	font-size: 3rem;
	font-weight: bold;
}

.blueboxcontainer{
	position: relative;
	width: 100%;
	margin-bottom: 200px;
}

.bluebox{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 450px;
	width: 100%;
	background-color: #006ca5;
	position:relative;
	z-index: 1;
}

.bluebox p{
	color: #FFFFFF;
	text-align: center;
	padding: 0 20px;
	font-size: 1.2rem;
	margin-top: 40px;
}

.sasimage{
	position:absolute;
	width: 800px;
	top: 80%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
	padding: 10px;
}


.sasimage img{
	width: 100%;
	height: 100%;
	display: block;
}

.description{
	text-align: justify;
	color: #006ca5;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 1.5;
}

